<ion-view view-title="Folder">
    <ion-content>
        {{debugOutput}}
        <ion-toggle ng-model="shouldShowDelete">
            Show Delete?
        </ion-toggle>
        <ion-list show-delete="shouldShowDelete">
            <div ng-repeat="folder in folders">
                <ion-item ng-click="selectFolder(folder)" class="item-thumbnail-left" href="#/tab/mails/{{folder}}">
                    {{folder}}
                    <ion-delete-button class="ion-minus-circled" ng-click="removeFolder(folder)"></ion-delete-button>
                </ion-item>

            </div>
        </ion-list>
    </ion-content>
</ion-view>
