<ion-view view-title="Mails">
  <ion-content>
    <h1> WICHTIG </h1>
    {{folderName}}


    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="mail in mails" type="item-text-wrap" href="#/tab/chats">
        <h2>{{mail.subject}}</h2>
        <p>{{mail.sender}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
